@using ScopusWebApplication.Models
@model List<ScopusWebApplication.Models.Article>

@{
    /**/

    ViewBag.Title = "EditArticle";
}

<h3>Полученные статьи автора</h3>


@using (Html.BeginForm("GetFile", "Home", FormMethod.Post))
{

    for (int i = 0; i < Model.Count; i++)
    {
        <div class="container">

            <div class="header">
                <p style="cursor:pointer">@Html.EditorFor(m => m[i].choose) <span class="title_article">@Model[i].title <span class="down_arrow">▼</span></span> </p>
            </div>

            <div class="content" style="display: none">
                <dl class="dl-horizontal">
                    @for (int j = 0; j < Model[i].authors.Length; j++)
                    {
                        <dt>Инициалы:</dt>
                        <dd>@Html.EditorFor(m => m[i].authors[j].CeInitials)</dd>
                        <dt>Фамилия автора:</dt>
                        <dd>@Html.EditorFor(m => m[i].authors[j].Surname)</dd>
                        @Html.EditorFor(m => m[i].authors[j].MainAuthor, new { htmlAttributes = new { @class = "hidden" } })
                    }

                    <dt>Название статьи:</dt>
                    <dd>@Html.EditorFor(m => m[i].title)</dd>
                    <dt>Название журнала:</dt>
                    <dd>@Html.EditorFor(m => m[i].journal)</dd>
                    <dt>Год:</dt>
                    <dd>@Html.EditorFor(m => m[i].year)</dd>
                    <dt>Том журнала или книги:</dt>
                    <dd>@Html.EditorFor(m => m[i].volume)</dd>
                    <dt>Номер журнала:</dt>
                    <dd>@Html.EditorFor(m => m[i].number)</dd>
                    <dt>Номера страниц:</dt>
                    <dd>@Html.EditorFor(m => m[i].pages)</dd>
                    <dt>Месяц публикации:</dt>
                    <dd>@Html.EditorFor(m => m[i].month)</dd>
                    <dt>Цифр. идентификатор:</dt>
                    <dd>@Html.EditorFor(m => m[i].doi)</dd>
                    <p></p>
                </dl>
            </div>
        </div>
    }

    <script type="text/javascript">
        $(document).ready(function () {            

            $(".wrapper").css({
                "grid-template-columns": "100%"
            })

            $(".body-content").animate({
                maxWidth: '100%',
                marginTop: '5%'
            }, 500)
        });

        $(".title_article").click(function () {

            var header = $(this);
            //getting the next element
            var content = header.parent();
            content = content.parent();
            content = content.next();
            //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
            content.slideToggle(500, function () {
                header.find("span").text(function () {
                    var t = "";
                    if (content.is(":visible")) {
                        t = "▲";
                    }
                    else {
                        t = "▼";
                    }
                    return t;
                });
            });
        });

        //$(".check-box").attr('class', 'custom-control-input')

    </script>


    <select name="typeOutput" class="form-control">
        <option value="gost">ГОСТ 7.1-2003 + ГОСТ Р 7.0.5-2008</option>
        <option value="vak">ВАК-формат</option>
        <option value="IEEE_conferences">IEEE конференции</option>
        <option value="IEEE_openJournal">IEEE открытые журналы</option>
        <option value="harvardStyle">Гарвардский стиль</option>
        <option value="springerLNCS">Springer LNCS</option>
        <option value="BibTex">BibTex</option>
    </select>
    <input class="btn btn-success" type="submit" value="Скачать" />
}

