@model ScopusWebApplication.Models.MainAuthorInfo

<div>
    <h4>Основная информация об авторе</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Фамилия:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            Имя:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GivenName)
        </dd>

        <dt>
            Ссылка на БД Scopus:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrismUrl)
        </dd>

        <dt>
            Eid:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eid)
        </dd>

        <dt>
            Orcid:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orcid)
        </dd>

        <dt>
            Количество статей:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentCount)
        </dd>

        <dt>
            Место работы:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AffiliationName)
        </dd>

        <dt>
            Город:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AffiliationCity)
        </dd>

        <dt>
            Страна:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AffiliationCountry)
        </dd>

    </dl>

</div>

@if (Model.Id != "-")
{
    <div id="form_">
        <form id="form_findArticle" method="post" action="~/Home/EditArticle">
            <input type="hidden" name="authorID" value=@Model.Id />
            <input class="btn btn-secondary" type="submit" value="Найти статьи" />
        </form>
    </div>
    <br />
}
    <div id="loadingArticlesAnimation" style="display:none">
        <h4 id="loadingText">Загрузка статей, подождите...</h4>
        <img id="loadingIMG" src="@Url.Content("~/Content/Images/loading.gif")" />
    </div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#form_").submit(function (event) {
            $("#loadingArticlesAnimation").fadeIn(1000);
            //$("#loadingText").fadeIn(1000);
            //$("#loadingIMG").fadeIn(1000);
        });
    });


</script>